:root {
    --dark: #0ae4eb;
    --light: #f5f5ef;
    --navlink-color: #e011eb;
}

html {
    font-family: "Arial", "Helvetica", sans-serif;
    background-image: url('https://wallpaperaccess.com/full/6617020.jpg');
}
 
 header { 
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 1%;
    background-color: rgba(2, 194, 220, 0.65);
    color: var(--light)
}
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
color: var(--navlink-color);
font-weight: bold;
text-decoration: none
}

nav :hover {
color: var(--dark);
}

section {
    font-size: xx-large;
    display: flex;
   flex-direction: column;
  }

.image-with-text img {
    float: left;
    margin-right: 10px;
  }
  
  .image-with-text p {
    overflow: auto; 
    color: #F5F5EF;
  }

.aboutme {
    font-size: 20px;
    line-height: 50px;
}

aside {
font-size:xx-large,
padding: 1%;
background-color: rgba(16, 78, 144, 0.65);
color: var(--light)
  }

strong { color: #e011eb;}

article {
    margin: 150px;
    color: var(--light);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    padding: 1%;
    background-color: rgba(188, 12, 204, 0.65);
    color: var(--light);
    font-weight: bolder;
    text-decoration: none;
}

article p {
  -webkit-border-radius: 21;
  -moz-border-radius: 21;
  border-radius: 21px;
  font-size: 20px;
  padding: 30px 30px 30px 30px;
  text-decoration: none;
  list-style-type: none;
}

article :hover {
    background: #e011eb;
    color: #0ae4eb;
   
}

article a {
    list-style-type: none;
}

footer {
    height: 150px;
    justify-content: space-evenly;
    color: #F5F5EF;
    padding: 1%;
    background-color: rgba(16, 78, 144, 0.65);
    color: var(--light)
  }

  footer a {
    color: #F5F5EF;
    text-decoration: none;
   display: flex;
   justify-content: safe;
  }

footer ul {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-weight: bold;
}

Li a { color:#e011eb;
    text-decoration: none;
    font-weight: bold;
}

li :hover {
color: #F5F5EF;
}

h1 { padding: 1%;
    }

h2 {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    color: var(--light);
    text-decoration: underline;

}

Small screens /
@media (max-width: 768px) {

  }

/ Medium screens /
@media (max-width: 1024px) {

  }

/ Large screens
@media (max-width: 1200px) {

}

