:root {
    --dark: #13293d;
    --light: #fff;
    --navlink-color: #b9c6ae;
}

html{ background-image: url('https://images.hdqwalls.com/download/nebula-space-blue-12k-2v-1366x768.jpg');


}

body {
    display:flex;
    flex-direction: column;
    line-height: 1.3;
}

header { 
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 1%;
    background-image: linear-gradient(rgba(6, 122, 70, 0.864), rgb(0, 55, 255))
   
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
background-color: unset;
color: var(--navlink-color);
font-weight: bold;
text-decoration: none
}

nav :hover {
color:white;

}


section {








}


article{









}


footer {
    

    
    



    
}

footer ul {
    display: flex;
    flex-flow: reverse wrap;
    justify-content: space-around;
    
    
    
   
    
    




}










